*.DB
*.json
.pioenvs/
.piolibdeps/
.vscode/
*.json
.DS_Store
Hlavni meteostanice/.vscode/c_cpp_properties.json
Hlavni meteostanice/.vscode/.BROWSE.C_CPP.DB
Hlavni meteostanice/.vscode/c_cpp_properties.json
